In [12]:
import pandas as pd

In [34]:
store=pd.read_csv(r'E:\jupyter\csv file for panda projects\Sample - Superstore_Orders.csv')

#read_scv , read_excel

In [35]:
store

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2020,US-2020-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2020,Standard Class,Texas,Paper,0.2,5.5512,2,16.448
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2020,US-2020-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2020,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2020,US-2020-112326,60540,Avery 508,Central,Home Office,08-01-2020,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2020,US-2020-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2020,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2020,US-2020-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2020,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2023,US-2023-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2024,Standard Class,New York,Binders,0.2,19.7910,3,52.776
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2023,US-2023-115427,94533,GBC Binding covers,West,Corporate,03-01-2024,Standard Class,California,Binders,0.2,6.4750,2,20.720
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2023,US-2023-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2024,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2023,US-2023-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2024,Standard Class,New York,Phones,0.0,2.7279,7,90.930
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2023,CA-2023-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2024,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024

In [36]:
id(store) #for id

1982604162576

In [37]:
pd.__version__

'2.0.3'

In [38]:
len(store)

10194

In [39]:
store.shape #syntax remember

(10194, 19)

In [40]:
store.isnull()

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10190,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10191,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10192,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10193,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [41]:
store.isnull().count()

Category          10194
City              10194
Country/Region    10194
Customer Name     10194
Manufacturer      10194
Order Date        10194
Order ID          10194
Postal Code       10194
Product Name      10194
Region            10194
Segment           10194
Ship Date         10194
Ship Mode         10194
State/Province    10194
Sub-Category      10194
Discount          10194
Profit            10194
Quantity          10194
Sales             10194
dtype: int64

In [42]:
store.count()

Category          10194
City              10194
Country/Region    10194
Customer Name     10194
Manufacturer      10194
Order Date        10194
Order ID          10194
Postal Code       10194
Product Name      10194
Region            10194
Segment           10194
Ship Date         10194
Ship Mode         10194
State/Province    10194
Sub-Category      10194
Discount          10194
Profit            10194
Quantity          10194
Sales             10194
dtype: int64

In [43]:
store.isnull().sum() #means no vacant or missing value present

Category          0
City              0
Country/Region    0
Customer Name     0
Manufacturer      0
Order Date        0
Order ID          0
Postal Code       0
Product Name      0
Region            0
Segment           0
Ship Date         0
Ship Mode         0
State/Province    0
Sub-Category      0
Discount          0
Profit            0
Quantity          0
Sales             0
dtype: int64

In [44]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10194 non-null  object
 1   City            10194 non-null  object
 2   Country/Region  10194 non-null  object
 3   Customer Name   10194 non-null  object
 4   Manufacturer    10194 non-null  object
 5   Order Date      10194 non-null  object
 6   Order ID        10194 non-null  object
 7   Postal Code     10194 non-null  object
 8   Product Name    10194 non-null  object
 9   Region          10194 non-null  object
 10  Segment         10194 non-null  object
 11  Ship Date       10194 non-null  object
 12  Ship Mode       10194 non-null  object
 13  State/Province  10194 non-null  object
 14  Sub-Category    10194 non-null  object
 15  Discount        10194 non-null  float64
 16  Profit          10194 non-null  float64
 17  Quantity        10194 non-null  int64
 18  Sales           10194 non-null  float64
dtypes: float64(3), int64(1), object(15)
memory usage: 1.5+ MB

In [45]:
store.head() #top 5 rows

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2020,US-2020-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2020,Standard Class,Texas,Paper,0.2,5.5512,2,16.448
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2020,US-2020-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2020,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2020,US-2020-112326,60540,Avery 508,Central,Home Office,08-01-2020,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2020,US-2020-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2020,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2020,US-2020-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2020,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536

In [46]:
store.tail()

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2023,US-2023-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2024,Standard Class,New York,Binders,0.2,19.7910,3,52.776
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2023,US-2023-115427,94533,GBC Binding covers,West,Corporate,03-01-2024,Standard Class,California,Binders,0.2,6.4750,2,20.720
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2023,US-2023-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2024,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2023,US-2023-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2024,Standard Class,New York,Phones,0.0,2.7279,7,90.930
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2023,CA-2023-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2024,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024

In [47]:
store.columns

Index(['Category', 'City', 'Country/Region', 'Customer Name', 'Manufacturer',
       'Order Date', 'Order ID', 'Postal Code', 'Product Name', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State/Province', 'Sub-Category',
       'Discount', 'Profit', 'Quantity', 'Sales'],
      dtype='object')

In [48]:
len(store.columns)

19

In [49]:
len(store) #for rows

10194

In [50]:
store.info() #GIVE ALL INFO SUCH THAT

#NO OF COLUMN
#NUMBER OF ROWS
#NUM OF CATOGORICAL DATA(OBJECTS)
#NUMBER OF NUMERIC DATA(INT,FLOAT)ETC

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10194 non-null  object
 1   City            10194 non-null  object
 2   Country/Region  10194 non-null  object
 3   Customer Name   10194 non-null  object
 4   Manufacturer    10194 non-null  object
 5   Order Date      10194 non-null  object
 6   Order ID        10194 non-null  object
 7   Postal Code     10194 non-null  object
 8   Product Name    10194 non-null  object
 9   Region          10194 non-null  object
 10  Segment         10194 non-null  object
 11  Ship Date       10194 non-null  object
 12  Ship Mode       10194 non-null  object
 13  State/Province  10194 non-null  object
 14  Sub-Category    10194 non-null  object
 15  Discount        10194 non-null  float64
 16  Profit          10194 non-null  float64
 17  Quantity        10194 non-null  int64
 18  Sales           10194 non-null  float64
dtypes: float64(3), int64(1), object(15)
memory usage: 1.5+ MB

In [51]:
store.columns #select categorical data

Index(['Category', 'City', 'Country/Region', 'Customer Name', 'Manufacturer',
       'Order Date', 'Order ID', 'Postal Code', 'Product Name', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State/Province', 'Sub-Category',
       'Discount', 'Profit', 'Quantity', 'Sales'],
      dtype='object')

In [52]:
store[['Category','City']].head() # if we want to open 2 columns

#.head() is used for first 5 entry

          Category          City
0  Office Supplies       Houston
1  Office Supplies    Naperville
2  Office Supplies    Naperville
3  Office Supplies    Naperville
4  Office Supplies  Philadelphia

In [53]:
#if we want to analyse opnly categorical data then
categorical_data=store[['Category', 'City', 'Country/Region', 'Customer Name', 'Manufacturer',
       'Order Date', 'Order ID', 'Postal Code', 'Product Name', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State/Province', 'Sub-Category']]
categorical_data

#always remember when you want to analyse multiple columns at single step always use double[]

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2020,US-2020-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2020,Standard Class,Texas,Paper
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2020,US-2020-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2020,Standard Class,Illinois,Binders
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2020,US-2020-112326,60540,Avery 508,Central,Home Office,08-01-2020,Standard Class,Illinois,Labels
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2020,US-2020-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2020,Standard Class,Illinois,Storage
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2020,US-2020-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2020,Standard Class,Pennsylvania,Art
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2023,US-2023-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2024,Standard Class,New York,Binders
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2023,US-2023-115427,94533,GBC Binding covers,West,Corporate,03-01-2024,Standard Class,California,Binders
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2023,US-2023-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2024,Standard Class,Colorado,Fasteners
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2023,US-2023-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2024,Standard Class,New York,Phones
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2023,CA-2023-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2024,Standard Class,Prince Edward Island,Binders

In [54]:
numeric_data=store[['Discount', 'Profit', 'Quantity', 'Sales']]
numeric_data

       Discount   Profit  Quantity    Sales
0           0.2   5.5512         2   16.448
1           0.8  -5.4870         2    3.540
2           0.2   4.2717         3   11.784
3           0.2 -64.7748         3  272.736
4           0.2   4.8840         3   19.536
...         ...      ...       ...      ...
10189       0.2  19.7910         3   52.776
10190       0.2   6.4750         2   20.720
10191       0.2  -0.6048         3    3.024
10192       0.0   2.7279         7   90.930
10193       0.2  -0.6048         3    3.024

[10194 rows x 4 columns]

In [55]:
store

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2020,US-2020-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2020,Standard Class,Texas,Paper,0.2,5.5512,2,16.448
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2020,US-2020-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2020,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2020,US-2020-112326,60540,Avery 508,Central,Home Office,08-01-2020,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2020,US-2020-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2020,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2020,US-2020-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2020,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2023,US-2023-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2024,Standard Class,New York,Binders,0.2,19.7910,3,52.776
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2023,US-2023-115427,94533,GBC Binding covers,West,Corporate,03-01-2024,Standard Class,California,Binders,0.2,6.4750,2,20.720
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2023,US-2023-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2024,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2023,US-2023-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2024,Standard Class,New York,Phones,0.0,2.7279,7,90.930
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2023,CA-2023-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2024,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024

In [56]:
store['quant_sales']=store['Quantity']*store['Sales']
store

#adding a column in table and perform mathematical operation

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales,quant_sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2020,US-2020-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2020,Standard Class,Texas,Paper,0.2,5.5512,2,16.448,32.896
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2020,US-2020-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2020,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540,7.080
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2020,US-2020-112326,60540,Avery 508,Central,Home Office,08-01-2020,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784,35.352
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2020,US-2020-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2020,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736,818.208
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2020,US-2020-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2020,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536,58.608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2023,US-2023-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2024,Standard Class,New York,Binders,0.2,19.7910,3,52.776,158.328
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2023,US-2023-115427,94533,GBC Binding covers,West,Corporate,03-01-2024,Standard Class,California,Binders,0.2,6.4750,2,20.720,41.440
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2023,US-2023-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2024,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024,9.072
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2023,US-2023-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2024,Standard Class,New York,Phones,0.0,2.7279,7,90.930,636.510
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2023,CA-2023-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2024,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024,9.072

In [57]:
store.drop('quant_sales',axis=1)

#drop is used to delete column axis =1 means along column wise,axis=0 means rows wise

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2020,US-2020-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2020,Standard Class,Texas,Paper,0.2,5.5512,2,16.448
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2020,US-2020-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2020,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2020,US-2020-112326,60540,Avery 508,Central,Home Office,08-01-2020,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2020,US-2020-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2020,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2020,US-2020-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2020,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2023,US-2023-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2024,Standard Class,New York,Binders,0.2,19.7910,3,52.776
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2023,US-2023-115427,94533,GBC Binding covers,West,Corporate,03-01-2024,Standard Class,California,Binders,0.2,6.4750,2,20.720
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2023,US-2023-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2024,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2023,US-2023-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2024,Standard Class,New York,Phones,0.0,2.7279,7,90.930
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2023,CA-2023-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2024,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024

In [58]:
numeric_data

       Discount   Profit  Quantity    Sales
0           0.2   5.5512         2   16.448
1           0.8  -5.4870         2    3.540
2           0.2   4.2717         3   11.784
3           0.2 -64.7748         3  272.736
4           0.2   4.8840         3   19.536
...         ...      ...       ...      ...
10189       0.2  19.7910         3   52.776
10190       0.2   6.4750         2   20.720
10191       0.2  -0.6048         3    3.024
10192       0.0   2.7279         7   90.930
10193       0.2  -0.6048         3    3.024

[10194 rows x 4 columns]

In [59]:
store.columns

Index(['Category', 'City', 'Country/Region', 'Customer Name', 'Manufacturer',
       'Order Date', 'Order ID', 'Postal Code', 'Product Name', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State/Province', 'Sub-Category',
       'Discount', 'Profit', 'Quantity', 'Sales', 'quant_sales'],
      dtype='object')

In [60]:
#store.Category.count().unique() #for unique category
store.Category.nunique()

3

In [61]:
store.Category.unique()

array(['Office Supplies', 'Furniture', 'Technology'], dtype=object)

In [62]:
store.Category.value_counts()

#always remember value_counts is used for counting of unique element with column member name

Category
Office Supplies    6128
Furniture          2201
Technology         1865
Name: count, dtype: int64

In [63]:
store.City

0              Houston
1           Naperville
2           Naperville
3           Naperville
4         Philadelphia
             ...
10189    New York City
10190        Fairfield
10191         Loveland
10192    New York City
10193    Charlottetown
Name: City, Length: 10194, dtype: object

In [64]:
#que store.City.unique()

In [65]:
#que find out how many people are their in file whic are from unique city or no two mwmber have same city


city_count=store.City.value_counts()

In [102]:
city_count

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Manhattan          1
Iowa City          1
Cedar Rapids       1
Baytown            1
Danbury            1
Name: count, Length: 542, dtype: int64

In [66]:
city_count[city_count==1]

City
Chapel Hill        1
Missouri City      1
Port Orange        1
Rochester Hills    1
Palatine           1
                  ..
Manhattan          1
Iowa City          1
Cedar Rapids       1
Baytown            1
Danbury            1
Name: count, Length: 70, dtype: int64

# very imp concept of lamda here for conditioning...

In [67]:
 store.City.value_counts()[lambda x: x == 1]
    # very imp concept of lamda where city value count==1,other wise we have  to initialize new variable

City
Chapel Hill        1
Missouri City      1
Port Orange        1
Rochester Hills    1
Palatine           1
                  ..
Manhattan          1
Iowa City          1
Cedar Rapids       1
Baytown            1
Danbury            1
Name: count, Length: 70, dtype: int64

# very imp concept of accessing rows with help of 
# conditon operation in particular column.

# with help of 

#  .isin()

# .isin(The result (after filtering))

In [68]:
#we want the names of costomer which belongs to unique city or city count==1


single_member_cities = store.City.value_counts()[lambda x: x == 1].index
people_from_single_cities = store[store['City'].isin(single_member_cities)]['Customer Name']
people_from_single_cities

#store[store['City'].isin(single_member_cities)] filters the DataFrame, keeping only the rows where the city matches.
# isin() very powerfull toolif we want to access rows after condition operetaion in column...

93       Delfina Latchford
98             Cyma Kinney
153           Sanjit Chand
247          Vivian Mathis
880         Tamara Manning
               ...
9914       Laurel Elliston
9944           Dennis Kane
9956      Alejandro Savely
10078        Jeremy Pistek
10093        Julia Barnett
Name: Customer Name, Length: 70, dtype: object

In [69]:
single_member_cities = store.City.value_counts()[lambda x: x == 1]
single_member_cities

City
Chapel Hill        1
Missouri City      1
Port Orange        1
Rochester Hills    1
Palatine           1
                  ..
Manhattan          1
Iowa City          1
Cedar Rapids       1
Baytown            1
Danbury            1
Name: count, Length: 70, dtype: int64

 # very beautiful concept of 

# .index

# .index is used to carry out data without counting value in 
# form of list

In [70]:
single_member_cities = store.City.value_counts()[lambda x: x == 1].index
single_member_cities

Index(['Chapel Hill', 'Missouri City', 'Port Orange', 'Rochester Hills',
       'Palatine', 'Whittier', 'Abilene', 'Elyria', 'Commerce City',
       'Citrus Heights', 'Ontario', 'Romeoville', 'Pico Rivera', 'Hagerstown',
       'Jupiter', 'San Mateo', 'Waterloo', 'Aberdeen', 'Linden', 'Springdale',
       'Margate', 'Grand Island', 'Melbourne', 'Portage', 'Lake Elsinore',
       'Kissimmee', 'Davis', 'Normal', 'Norfolk', 'Santa Maria', 'Tinley Park',
       'Jefferson City', 'Layton', 'Saint Peters', 'Littleton', 'Holyoke',
       'Redwood City', 'Yucaipa', 'Murrieta', 'La Quinta', 'Atlantic City',
       'Missoula', 'Orland Park', 'Lindenhurst', 'Glenview', 'Conway',
       'Pensacola', 'Bartlett', 'Rogers', 'Waukesha', 'Vacaville', 'Keller',
       'Ormond Beach', 'Deer Park', 'Goldsboro', 'Billings', 'Antioch',
       'Montebello', 'Arlington Heights', 'Cheyenne', 'Champaign', 'Rock Hill',
       'Conroe', 'San Luis Obispo', 'Redding', 'Manhattan', 'Iowa City',
       'Cedar Rapids', 'Baytown', 'Danbury'],
      dtype='object', name='City')

In [71]:
store.describe()

           Discount        Profit      Quantity         Sales    quant_sales
count  10194.000000  10194.000000  10194.000000  10194.000000   10194.000000
mean       0.155385     28.673417      3.791838    228.225854    1139.506412
std        0.206249    232.465115      2.228317    619.906839    3868.831262
min        0.000000  -6599.978000      1.000000      0.444000       0.444000
25%        0.000000      1.760800      2.000000     17.220000      48.800000
50%        0.200000      8.690000      3.000000     53.910000     182.000000
75%        0.200000     29.297925      5.000000    209.500000     758.198000
max        0.800000   8399.976000     14.000000  22638.480000  135830.880000

pandas has many powerful and convenient functions that help you manipulate and analyze your data:

**important one

**isin(): Check if elements exist in a list.

**groupby(): Group and aggregate data

**apply(): Apply custom functions.

pivot_table(): Create pivot tables for summaries.

**sort_values(): Sort data by column(s).

**fillna(): Fill missing values.

merge(): Combine DataFrames.

**value_counts(): Count occurrences of unique values.

duplicated(): Detect duplicate rows.

corr(): Calculate correlations between columns.

In [72]:
#creating data frame

import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 37, 29, 22],
    'City': ['New York', 'Chicago', 'Los Angeles', 'Chicago', 'New York']
}

In [73]:
df=pd.DataFrame(data) #capital d and capital f always remember..
print (df)

      Name  Age         City
0    Alice   25     New York
1      Bob   32      Chicago
2  Charlie   37  Los Angeles
3    David   29      Chicago
4      Eve   22     New York

In [99]:
positive_case=df.City.value_counts()[ lambda x:x==1]  #[lambda x: x == 1]
positive_case

City
Los Angeles    1
Name: count, dtype: int64

In [100]:
df.City.value_counts()[ lambda x:x==1].index

Index(['Los Angeles'], dtype='object', name='City')

In [101]:
positive_caase=['Los Angeles']

In [92]:
df[df.City.isin(positive_case)]

      Name  Age         City
2  Charlie   37  Los Angeles

In [94]:
df[df.City.isin(positive_case)][['Name','Age']]

      Name  Age
2  Charlie   37

In [103]:
df

      Name  Age         City
0    Alice   25     New York
1      Bob   32      Chicago
2  Charlie   37  Los Angeles
3    David   29      Chicago
4      Eve   22     New York

# groupby()

In [105]:
#groupby()
# groupby() is one of the most important pandas functions for data aggregation and transformation.
#It allows you to group data based on a certain column or columns, and then apply aggregation
#functions like sum(), mean(), count() 

df.groupby('City')['Age'].mean()

City
Chicago        30.5
Los Angeles    37.0
New York       23.5
Name: Age, dtype: float64

In [109]:
#adding a column named salary
df['Salary']= [50000, 60000, 75000, 52000, 45000]
df

      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   32      Chicago   60000
2  Charlie   37  Los Angeles   75000
3    David   29      Chicago   52000
4      Eve   22     New York   45000

In [111]:
#on the basis of city we group by 2 columns age and salary and calculated mean

df.groupby('City')[['Age','Salary']].mean()

              Age   Salary
City
Chicago      30.5  56000.0
Los Angeles  37.0  75000.0
New York     23.5  47500.0


# apply()

he apply() function allows you to apply a custom function to each row or column in a DataFrame. This can be used for complex operations or transformations.

**Default behavior: If you don't specify the axis parameter, apply() works column-wise by default (axis=0).

**result = df.apply(lambda x: x.sum(), axis=1) row wise calcultaion

In [112]:
df

      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   32      Chicago   60000
2  Charlie   37  Los Angeles   75000
3    David   29      Chicago   52000
4      Eve   22     New York   45000

In [119]:
df['age_group']=df.Age.apply(lambda x:'Young'if x<30 else 'Adult')
df
#or

#if-elif-else does not comes in lambda only simple if else comes under it

# def age_category(age):
#     if age < 30:
#         return 'Young'
#     elif age < 40:
#         return 'Adult'
#     else:
#         return 'Senior'

# # Apply the function to the 'Age' column
# df['Age Category'] = df['Age'].apply(age_category)
# print(df)

      Name  Age         City  Salary age_group
0    Alice   25     New York   50000     Young
1      Bob   32      Chicago   60000     Adult
2  Charlie   37  Los Angeles   75000     Adult
3    David   29      Chicago   52000     Young
4      Eve   22     New York   45000     Young

# sort_values()

**Sorting data is one of the most common operations when analyzing or exploring datasets. sort_values() allows you to sort the rows in ascending or descending order based on one or more columns.

In [121]:
#sorted single column

sorted_df_age = df.sort_values(by='Age')
sorted_df_age

      Name  Age         City  Salary age_group
4      Eve   22     New York   45000     Young
0    Alice   25     New York   50000     Young
3    David   29      Chicago   52000     Young
1      Bob   32      Chicago   60000     Adult
2  Charlie   37  Los Angeles   75000     Adult

In [122]:
#sorted multiple column

sorted_df_multiple = df.sort_values(by=['Age', 'Salary'], ascending=[True, False])
sorted_df_multiple

      Name  Age         City  Salary age_group
4      Eve   22     New York   45000     Young
0    Alice   25     New York   50000     Young
3    David   29      Chicago   52000     Young
1      Bob   32      Chicago   60000     Adult
2  Charlie   37  Los Angeles   75000     Adult

In [64]:
store['Product Name'].value_counts()

Product Name
Staples                                                                      50
Staple envelope                                                              48
Easy-staple paper                                                            46
KI Adjustable-Height Table                                                   20
Avery Non-Stick Binders                                                      20
                                                                             ..
Avery 484                                                                     1
Sanitaire Vibra Groomer IR Commercial Upright Vacuum, Replacement Belts       1
Xerox 20                                                                      1
Plantronics Single Ear Headset                                                1
Bush Saratoga Collection 5-Shelf Bookcase, Hanover Cherry, *Special Order     1
Name: count, Length: 1849, dtype: int64

In [65]:
store['Ship Mode']

0        Standard Class
1        Standard Class
2        Standard Class
3        Standard Class
4        Standard Class
              ...
10189    Standard Class
10190    Standard Class
10191    Standard Class
10192    Standard Class
10193    Standard Class
Name: Ship Mode, Length: 10194, dtype: object

In [67]:
store['Ship Mode'].unique()

array(['Standard Class', 'First Class', 'Second Class', 'Same Day'],
      dtype=object)

In [71]:
store['Ship Mode'].value_counts()

Ship Mode
Standard Class    6120
Second Class      1979
First Class       1548
Same Day           547
Name: count, dtype: int64

In [69]:
numeric_data

       Discount   Profit  Quantity    Sales
0           0.2   5.5512         2   16.448
1           0.8  -5.4870         2    3.540
2           0.2   4.2717         3   11.784
3           0.2 -64.7748         3  272.736
4           0.2   4.8840         3   19.536
...         ...      ...       ...      ...
10189       0.2  19.7910         3   52.776
10190       0.2   6.4750         2   20.720
10191       0.2  -0.6048         3    3.024
10192       0.0   2.7279         7   90.930
10193       0.2  -0.6048         3    3.024

[10194 rows x 4 columns]

In [72]:
store

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales,quant_sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2020,US-2020-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2020,Standard Class,Texas,Paper,0.2,5.5512,2,16.448,32.896
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2020,US-2020-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2020,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540,7.080
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2020,US-2020-112326,60540,Avery 508,Central,Home Office,08-01-2020,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784,35.352
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2020,US-2020-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2020,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736,818.208
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2020,US-2020-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2020,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536,58.608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2023,US-2023-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2024,Standard Class,New York,Binders,0.2,19.7910,3,52.776,158.328
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2023,US-2023-115427,94533,GBC Binding covers,West,Corporate,03-01-2024,Standard Class,California,Binders,0.2,6.4750,2,20.720,41.440
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2023,US-2023-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2024,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024,9.072
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2023,US-2023-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2024,Standard Class,New York,Phones,0.0,2.7279,7,90.930,636.510
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2023,CA-2023-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2024,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024,9.072

In [84]:
store[store.City=='Houston'].count()

Category          377
City              377
Country/Region    377
Customer Name     377
Manufacturer      377
Order Date        377
Order ID          377
Postal Code       377
Product Name      377
Region            377
Segment           377
Ship Date         377
Ship Mode         377
State/Province    377
Sub-Category      377
Discount          377
Profit            377
Quantity          377
Sales             377
quant_sales       377
dtype: int64

In [33]:
print(store.shape)
print(categorical_data.shape)
print(numeric_data.shape)

(10194, 19)
(10194, 15)
(10194, 4)

# THANK YOU